/* Reset */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}body{margin:0;font-size:16px}blockquote,figure,h1,h2,h3,h4,ol,p,ul{margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,li,main,menu,nav,section,summary{display:block}address,article,aside,audio,blockquote,canvas,dd,div,dl,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,li,noscript,ol,output,p,pre,section,table,tfoot,ul,video{box-sizing:border-box}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:400}a{text-decoration:none;color:inherit}img{max-width:100%;height:auto;border:0}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button,input[type=button],input[type=submit],input[type=image]{outline:0;border:none}table{border-collapse:collapse;border-spacing:0}


/* Master Styles */
h1 {
  color: #0070cd; 
  font-family: Arial, Helvetica, sans-serif;  
  font-weight: bold; 
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
  color: #888; 
}


/* functional css */
.type-centered {
  text-align: center;
}
.mar-bottom {
  margin-bottom: 20px;
}
.mar-bottom_lg {
  margin-bottom: 40px;
}


/* graphs */
.container {
  max-width: 1024px;
  margin: 0 auto;
}
.graph-container {
  text-align: center;
}
.graph-item {
  display: inline-block;
  margin: 0 10px;
}

/* slider */
.slider-container {
  border: 1px solid red;
}