/* Master Styles */
h1 {
  color: #0070cd; 
  font-family: Arial, Helvetica, sans-serif;  
  font-weight: bold; 
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
  color: #888; 
}


/* functional css */
.type-centered {
  text-align: center;
}
.mar-bottom {
  margin-bottom: 20px;
}
.mar-bottom_lg {
  margin-bottom: 40px;
}


/* graphs */
.container {
  max-width: 1024px;
  margin: 0 auto;
}
.graph-container {
  text-align: center;
}
.graph-item {
  max-width: 200px;
  display: inline-block;
  margin: 0 10px;
}

/* slider */
.slider-container {

}